/* src/components/views/homepage/parts/stash/Stash.module.css */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 600;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 0.9rem;
}
