:root,
[data-theme="charcoal"] {
  /* FONTS */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* TEXT COLORS */
  --text-primary: #ededed;
  --text-secondary: #a1a1a1;

  /* BACKGROUNDS */
  --background-gradient: #171a1e;

  /* BORDERS & GLOW */
  --border-color: rgba(255, 255, 255, 0.1);
  --container-glow: inset 0 0 0 1px var(--border-color);

  /* SHADOW (dla głównego kontenera) */
  --shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  --box-border-radius: 12px;

  /* MODAL */
  --modal-overlay: rgba(0, 0, 0, 0.6);
  --modal-background: #25282c;
  --modal-header-background: #1e2023;

  /* ACCENT */
  --color-accent: #50e4df;

  /* LAYOUT & CONTENT */
  --content-background: #1f2124;
  --homepage-grid-background: rgba(188, 188, 188, 0.01);
  --content-box-background: rgb(255, 255, 255, 0.01);
  --content-box-backdrop-filter: none;
  --homepage-grid-backdrop-filter: none;
}

[data-theme="midnight"] {
  /* FONTS */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* TEXT COLORS */
  --text-primary: #f0f0f0;
  --text-secondary: #b0b0b0;

  /* BACKGROUNDS */
  --background-gradient: #0d0d1a url("/midnight.png") no-repeat center center /
    cover;

  /* BORDERS & GLOW */
  --border-color: rgba(255, 255, 255, 0.2);
  --container-glow: inset 0 0 0 1px var(--border-color);

  /* SHADOW (dla głównego kontenera) */
  --shadow: 0 0 20px rgba(0, 0, 0, 0);

  --box-border-radius: 12px;

  /* MODAL */
  --modal-overlay: rgba(0, 0, 0, 0.64);
  --modal-background: #1a1a2e;
  --modal-header-background: #161628;

  /* ACCENT */
  --color-accent: #9f7aea;

  /* LAYOUT & CONTENT */
  --content-background: rgba(57, 56, 56, 0.24);
  --homepage-grid-background: rgba(79, 107, 123, 0.04);
  --content-box-background: rgba(255, 255, 255, 0.01);
  --content-box-backdrop-filter: blur(0px);
  --homepage-grid-backdrop-filter: blur(30px);
}

[data-theme="snowlight"] {
  /* FONTS */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* TEXT COLORS */
  --text-primary: #212529;
  --text-secondary: #6c757d;

  /* BACKGROUNDS */
  --background-gradient: linear-gradient(135deg, #fdfbfb 0%, #ebf4f5 100%);

  /* BORDERS & GLOW */
  --border-color: rgba(0, 0, 0, 0.1);
  --container-glow: inset 0 0 0 1px var(--border-color);

  /* SHADOW (dla głównego kontenera) */
  --shadow: 0 8px 32px rgba(0, 0, 0, 0.05);

  --box-border-radius: 12px;

  /* MODAL */
  --modal-overlay: rgba(0, 0, 0, 0.44);
  --modal-background: #ffffff;
  --modal-header-background: #f8f9fa;

  /* ACCENT */
  --color-accent: #20c997;

  /* LAYOUT & CONTENT */
  --content-background: #ffffff;
  --homepage-grid-background: rgba(188, 188, 188, 0.01);
  --content-box-background: rgb(0, 0, 0, 0.01);
  --content-box-backdrop-filter: none;
  --homepage-grid-backdrop-filter: none;
}
