.mainWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 65vw;
  height: 85vh;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--content-background);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);
}
