/* ChangesSection.module.css */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  padding: 6px 0;
  gap: 8px;
  text-align: left;
  flex-grow: 1;
}

.arrow {
  font-size: 0.6rem;
  transition: transform 0.2s ease-in-out;
}

.arrow.open {
  transform: rotate(0deg);
}

.arrow:not(.open) {
  transform: rotate(-90deg);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  flex-grow: 1;
}

.headerActionButton {
  background: none;
  border: none; /* Usunięto ramkę */
  color: var(--text-secondary);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  margin-left: 8px;
  font-weight: 800; /* Pogrubiona czcionka */
  font-size: 1.1rem; /* Powiększona czcionka */
}

.headerWrapper:hover .headerActionButton {
  opacity: 1;
  visibility: visible;
}

.headerActionButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
}
