.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Rozłoży elementy */
  padding: 4px 8px;
  width: 100%;
  gap: 8px;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.container:hover .actionButton {
  opacity: 1;
  visibility: visible;
}

.actionButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.fileDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.fileName {
  color: var(--text-primary);
  white-space: nowrap;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0; /* Nie kurczy się */
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.container:hover .deleteButton {
  visibility: visible;
  opacity: 0.7;
}

.deleteButton:hover {
  opacity: 1;
}

.actionButton {
  background: none;
  border: none;
  color: var(--text-secondary);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  font-weight: 800;
  font-size: 1.1rem;
}

.actionButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
