/* src/components/views/HomepageView/parts/mainButtons/modals/common.module.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.input,
.select {
  width: 100%;
  background-color: var(--background-gradient);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px;
  color: var(--text-primary);
  font-family: inherit;
  font-size: 1rem;
}

.input:focus,
.select:focus {
  outline: none;
  border-color: var(--color-accent);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 400;
}

.radioOption {
  display: flex;
  align-items: center;
}

.radioLabel input {
  margin-right: 0.5rem;
}

.description {
  font-size: 0.8rem;
  color: var(--text-secondary);
  font-weight: 400;
  margin-top: 0.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
