.grid {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2rem;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 6fr auto 1fr 1fr auto;
  grid-template-areas:
    "branchTree branchTree console"
    "branchTree branchTree stash"
    "mainButtons advancedButtons resetButtons"
    "mainButtons advancedButtons resetButtons"
    "commandLine commandLine commandLine";
  background-color: rgba(188, 188, 188, 0.01);
}

.branchTree {
  grid-area: branchTree;
}
.console {
  grid-area: console;
  overflow: hidden; /* Ustawia sztywną granicę dla zawartości, co pozwala na wewnętrzne scrollowanie */
}
.stash {
  grid-area: stash;
}
.mainButtons {
  grid-area: mainButtons;
}
.advancedButtons {
  grid-area: advancedButtons;
}
.resetButtons {
  grid-area: resetButtons;
}
.commandLine {
  grid-area: commandLine;
}
