.button {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--button-contained-bg);
  color: var(--button-contained-color);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(0.9);
}

.button:disabled {
  background-color: var(--button-contained-disabled-bg);
  color: var(--button-contained-disabled-color);
  cursor: not-allowed;
  opacity: 0.7;
}
