.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--button-outlined-bg);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  height: 2.4rem;
  transition: 0.2s;
}

.button:hover {
  border-color: var(--color-accent);
  background-color: var(--button-outlined-bg-hover);
}

.button:active {
  background-color: var(--button-outlined-bg-active);
  border-color: var(--color-accent);
}

.button:disabled {
  border-color: var(--text-secondary);
  color: var(--text-secondary);
  cursor: not-allowed;
  background-color: transparent;
}

.button:disabled:hover {
  background-color: transparent;
  color: var(--text-secondary);
}
